
body {
  background-color: rgb(196, 176, 222);
}

h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em;
}

#gameboard {
  background-color: deepskyblue;
}

p {
  background-color: white;
}